<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EndpointUrl" value="{Your url}"/>
    <add key="PrimaryKey" value="{your db primary key}"/>
    <add key="DatabaseName" value="cosmos-db-investigation"/>
    <add key="CollectionName" value="all-customers"/>
  </appSettings>
</configuration>